body
{	
	position: absolute;
	top: 0;
	left: 0;
	background-color: grey;
	height:100%;
	width:100%;
	margin: 0;
	}

#control
{
	position: fixed;
	top: 0;
	left:0;
	margin-left: auto;
	margin-right:auto;
	float: right;
	z-index:10;
	width: 30%;
	height: 100%;
    background-color: rgb(85, 85, 85);
    opacity: 0.9;
}

#settings
{
	
}


#settings .headline
{
	
}



#content
{
	color:red;
	background-color: black;
	
}

li 
{
	list-style-type: none;	
}

.folderClosePicture
{
	float:left;
	background-image: url("COLLAPSE.SVG");
	background-repeat: none;
	background-size: 100% 100%;
	width: 15px;
	height: 15px;
}

#folder
{
	overflow: auto;
}

.dir_content_div
{
	align: center;
	valign: middle;
	float: left;
	white-space: nowrap;
}

#content
{
	position: absolute;
	top: 0;
	left: 0;
	max-height:100%;
	max-width:100%;
	height:100%;
	width:100%;
	margin:0;
}

#divImg
{
	position: absolute;
	top: 0;
	left: 0;
	max-height:100%;
	max-width:100%;
	height:100%;
	width:100%;
	margin:0;
	background-image: url("test.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

